<%= render 'shared/errors',obj: @art  %>

<div class="row">
  <div class="col-md-12">
    <%= form_for @art do |f| %>
      <div class="form-group row">
        <label for="title" class="col-sm-2 col-form-label"><%= f.label :title  %></label>
        <div class="col-sm-5">
          <%= f.text_field :title, class:"form-control", Placeholder: "Title of Article", autofocus:true  %>
        </div>
      </div>
      <div class="form-group row">
        <label for="title" class="col-sm-2 col-form-label"><%= f.label :description  %></label>
        <div class="col-sm-5">
          <%= f.text_area :description, rows: 10, class:"form-control", Placeholder: "Description of Article"  %>
        </div>
      </div>
      <div class="form-group row">
        <label for="category" class="col-sm-2 col-form-label"><%= f.label :description  %></label>
        <div class="col-sm-5">
          <%= f.collection_check_boxes :category_ids, Category.all, :id, :name do |cb|   %>
            <% cb.label(class: "checkbox-inline input_checkbox") {cb.check_box(class:"checkbox") + cb.text} %>
          <% end %>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-2 offset-md-2">
          <%= f.submit class:"btn btn-primary btn-lg", Placeholder: "Description of Article"  %>
        </div>
      </div>
      
    <%end%>
    
    <div class="col-xs-4 offset-md-4">
      <%= link_to "Cancel and Return", articles_path %>
    </div>
  </div>
</div>
